<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Database=fusp;Data Source=192.168.0.201;User Id=root;Password=kavera;" providerName="MySqlProviders" />
    <add name="MedusaEntities" connectionString="metadata=res://*/Medusa.csdl|res://*/Medusa.ssdl|res://*/Medusa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=APPSERVER;Initial Catalog=pac_ef;User=sa;Password=kavera;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MedusaEntities1" connectionString="metadata=res://*/Medusa.csdl|res://*/Medusa.ssdl|res://*/Medusa.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=APPSERVER;Initial Catalog=pac_ef;User=sa;Password=kavera;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="NewMedusaEntities" connectionString="metadata=res://*/NewMedusa.csdl|res://*/NewMedusa.ssdl|res://*/NewMedusa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appserver;initial catalog=Medusa;persist security info=True;user id=sa;password=kavera;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>